p Oba! Mais um membro pro Meu Rio Eu Faço!

p Seguem os dados para a produção da carteirinha:

p Nome: #{@user.first_name}
p Sobrenome: #{@user.last_name}
p Email: #{@user.email}

p Não esqueça de pesquisar o endereço e demais informações de contato no cadastro do Faça Acontecer.

p Meu Rio
