p Olá #{@user.first_name}!

p Mais uma vez, obrigado por ajudar a construir a cidade que todos nós merecemos. 

p Agora é hora de festejar!  Até 1˚ de maio, enviaremos a sua carteirinha e você poderá desfrutar das experiências únicas que a Rede Meu Rio preparou com muito carinho.

p Obrigado,

p Fernanda, Miguel, Alexandre, Alessandra e toda a equipe da Rede Meu Rio