p Olá #{@user.first_name}!

p Ficamos super contentes com seu interesse em participar do Meu Rio Eu Faço! Seu pedido de carteirinha já foi encaminhado para a nossa Equipe de Relacionamentos.

p Entraremos em contato em breve para informar sobre os próximos passos.

p Um grande abraço,

p Fernanda, Miguel, Alexandre, Alessandra e toda a equipe da Rede Meu Rio