p Olá #{@user.first_name}!

p Mais uma vez, obrigado por ajudar a construir a cidade que todos nós merecemos. Agora é hora de festejar! Em até 5 dias úteis, enviaremos a sua carteirinha e você poderá desfrutar das experiências únicas que a Rede Meu Rio preparou com nossos parceiros.

p Enquanto isso, que tal convidar seus amigos para ajudar a financiar a nossa Rede? Envie o link a seguir por e-mail ou Facebook e, se pelo menos um amigo seu doar através do seu link exclusivo, enviaremos uma camiseta lindona para mostrar para todo mundo que faz a diferença!

p LINK

p Obrigado,

p Fernanda, Miguel, Alexandre, Alessandra e toda a equipe da Rede Meu Rio