@import foundation_and_overrides
@import fonts
@import compass

$facebook-blue: #3d5a9b
$twitter-blue: #25bce8

body
  font-family: "Proxima Nova Soft"
  text-align: center

[class^="slide-"]
  padding: 2em 0 1em 0

.wraper
  +grid-column(12)
  &.medium
    +grid-column(12, true, true)

.slide-1
  background: image-url("bg-slide-01.jpg") center top #046930
  color: #A8CB70
  img.meurio-eu-faco
    margin-bottom: 3em
  .step
    margin-bottom: 1em
    +grid-column(4)
    img
      margin-bottom: 1em
    span
      display: block
      font-weight: 500
      font-size: 1.1em
      line-height: 1.2em
  .form-wraper
    padding: 1em
    background: #2E3235
    color: white
    +border-radius(4px)

    .disclaimer
      +grid-column(12)
      text-align: center
      font-size: 1.1em
      line-height: 28.5px
    
    form.new_request
      padding-top: 1em
      .first_name_field, .last_name_field, .email_field, .submit_button
        +grid-column(3)
        input
          +border-radius(4px)
          margin: 0
        &.error
          input
            border-color: red
      .button
        width: 100%
        text-transform: uppercase
      .submit_button
        input
          font-family: inherit
          padding: .5em


.slide-2
  background: image-url("bg-slide-02.jpg") center top #EDECED
  .wraper
    +grid-column(9, $center: true)
    padding: 4em 0
  h2, p
    color: white
  p
    line-height: 1.3em
    font-weight: 500
    font-size: 1em

.slide-3
  background: #2E3235
  padding-bottom: 2em
  h2
    color: #738793
  p
    font-weight: 500
    font-size: 1em
    color: white
  .multitude, .faca-acontecer
    +grid-column(6)
    .image
      +border-radius(2px)
      margin-bottom: 1em
      padding: 1em 3em
      height: 11em
    a.button
      font-size: 1.2em
      display: block
      padding: .5em


.slide-4
  background: image-url("bg-slide-04.jpg") center top
  h2, h3
    color: white
  h3
    font-size: 1.2em
    font-weight: bold
  .celebration
    text-align: left
    +grid-column(4)
    margin-bottom: 1em
    .text
      background: white
      padding: 1em
      +border-radius(0 0 2px 2px)
      .description
        font-size: .7em
        color: #738793
        line-height: 1.3em

.slide-5
  #map_canvas
    height: 500px

.slide-6
  background: #EDECED
  h2
    color: #2E3235
  p
    color: #738793
  .wraper
    +grid-column(7, true, true)
  form
    text-align: left
    textarea
      height: 200px
    input, textarea
      margin-bottom: 1em
    .error
      input, textarea
        margin-bottom: 1em

#share
  .button
    text-transform: uppercase
    +border-radius(3px)
    margin: .5em
    
    &.facebook-share
      background: $facebook-blue
    &.twitter-share
      background: $twitter-blue

@media (max-width: 1240px)
  #share
    .button
      +grid-column(8, $center: true)

@media (max-width: 930px)
  .slide-1
    .form-wraper
      .disclaimer
        +grid-column(12)
        text-align: center
      form.new_request
        .first_name_field, .last_name_field, .email_field, .submit_button
          +grid-column(8, $center: true)
          margin-bottom: 1em
  
  #share
    .button
      +grid-column(12)

@media (max-width: 630px)
  .slide-1
    .step
      +grid-column(12)
    .form-wraper
      form.new_request
        .first_name_field, .last_name_field, .email_field, .submit_button
          +grid-column(12)
          margin-bottom: 1em

  .slide-3
    .multitude, .faca-acontecer
      +grid-column(12)
    .multitude
      margin-bottom: 2em

  .slide-4
    .celebration
      +grid-column(12)
      margin-bottom: 2em
      &:last-child
        margin: 0

  .slide-6
    .wraper
      +grid-column(12)
