@import foundation_and_overrides
@import fonts

body
  font-family: "Proxima Nova Soft"
  text-align: center

.wraper
  padding: 2em 0
  +grid-column(12)

.slide-2
  background: #EDECED
  h2
    color: #2E3235
  p
    color: #738793
