h2 FAQ [Meu Rio Eu Faço]
h3 1. O que é o Meu Rio Eu Faço?
p É o programa de celebração dos membros que fazem a Rede Meu Rio acontecer, seja fazendo contruibuição em dinheiro ou doando seu tempo e talento nas mobilizações. As vitórias conquistadas pela Rede são para benefício de todos, transformando o Rio em um lugar melhor, logo, nada mais justo que toda a cidade festeje quem está fazendo isso acontecer. Assim, a Rede Meu Rio foi buscar parceiros que têm a cara da cidade para pensar em modos diferentes de celebrar a sua participação, como meio de dizer o quanto ela é importante!

h3 2. Como funcionam as celebrações?
p Cada parceiro celebra nossos doadores e voluntários de uma maneira diferente. As celebrações são alguns mimos que variam entre descontos, brindes e outras surpresas que são concedidas aos membros da Rede Meu Rio no momento da visita ao local. Fique de olho também para eventos especiais!

h3 3. Ah, entendi! É tipo um clube de vantagens?
p Não! As experiências desenhadas nessas celebrações não visam benefícios, nem vantagens propriamente ditas. São apenas modos diferentes que os parceiros da Rede Meu Rio encontraram para dar aquele abraço em quem está fazendo a diferença através da Rede, sacou?

h3 4. Como faço para ser celebrado?
p Você pode ser celebrado se tornando um financiador da Rede através do #{link_to 'Faça Acontecer', 'http://facaacontecer.meurio.org.br', target: :blank} ou conquistando a medalha ‘Eu Faço’ realizando tarefas voluntárias através do #{link_to 'Multitude', 'http://multitude.meurio.org.br', target: :blank}.

h3 5. Como faço para obter a medalha ‘Eu Faço’?
p Para ganhar essa medalha, é necessário estar cadastrado no Multitude e ter acumulado no mínimo 360 minutos de tarefas realizadas de qualquer natureza.

h3 6. Quanto tempo demora para eu receber a minha carteirinha?
p Nas condições normais de temperatura e pressão, postaremos a sua carteirinha em até 30 dias após a solicitação. 

h3 7. Qual o tempo de validade da carteirinha?
p As carteirinhas têm o prazo de 1 ano de validade a partir da data de emissão.

h3 8. Pedi a minha carteirinha e ela não chegou, o que eu faço?
p Caso isso aconteça, fale com a Fernanda através do email:  financiador@meurio.org.br

h3 9. Os parceiros são sempre os mesmos?
p De forma alguma! Nossa cidade é muito grande e estamos sempre à procura de novos parceiros que busquem fazer da cidade um lugar mais bacana e incentivem quem faz a diferença. Queremos celebrar nossos membros ao redor de todo o Rio, e com as mais diversas experiências!

h3 10. Como faço para me tornar um parceiro da Rede Meu Rio?
p Ficamos muito felizes com seu interesse! Para se tornar um parceiro basta enviar um email para contato@meurio.org.br e retornaremos para marcando uma data para um bate papo.

h3 Se quiser fazer alguma outra pergunta fale com Fernanda através do email: financiador@meurio.org.br